<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='stylesheet/style.css')}}">
    </head>
    <body class="main_body">
        <div class="form_container">
            <h1 class="title">Rice Disease Type Identifier</h1>
            <form class="form" action="/result" method="post" enctype="multipart/form-data">
                <label for="fileUpload">Select a rice image:</label>
                <input type="file" id="fileUpload" name="fileUpload" accept=".jpg,.jpeg,.png">
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
        
    </body>
</html>