<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="mainpage_body">
        <h1 class="homepage_title">Rice Leaf Disease Idnetification</h1>
        <div>
            This is a small ML based project which is about classifying pictures of rice life diseases into
            four major classes namely:
            <ol>
                <li>Bacterial Blight Disease</li>
                <li>Blast Disease</li>
                <li>Brown Spot Disaease</li>
                <li>Leaf Smut Disease</li>
                <li>Tungro</li>
            </ol>
            <a href="{{url_for('form')}}">Clcik here to test</a>
        </div>
    </div>
</body>